@charset "UTF-8";

:root {
  --main-background-color: #FDF6EF;
  --box-color: #4D59E3;
  --main-font-color: #000;
  --accent-color: #ED4059 ;
  --secondary-accent-color: #C6E354;
  --title-font-family: "Mightybagher", serif;
  --heading-font-family: "GrandParadiso", serif;
  --body-font-family: "Open Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: var(--body-font-family);
    color: var(--main-font-color);
}