.menu-btn {
    background-color: var(--secondary-accent-color);
    padding: 10px 15px;
    color: #000;
    border: none;
    border-radius: 40px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
}
.menu-btn i {
    margin: 0;
    font-size: 2rem;
}

.offcanvas-title {
    visibility: hidden;
}
.offcanvas.offcanvas-start {
    top: 90px;
    left: -20px;
    border-radius: 20px;
    height: 80vh;
    padding-left: 20px;
    width: 70%;
    border: 2px solid #000;
    box-shadow: 3px 6px 0px #000;
    background-color: var(--box-color);
    color: #fff;
}
.offcanvas.offcanvas-start .btn-close {
    opacity: 1;
    color: #fff;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(272deg) brightness(111%) contrast(101%);
}
.offcanvas.offcanvas-start ul li {
    margin: 15px 0;
}
.offcanvas.offcanvas-start a {
    color: #fff;
    text-decoration: none;
}
.offcanvas.offcanvas-start a:hover {
    text-decoration: underline;
}


.wrapper {
    width: 100%;
    /* height: 100vh;   */
    /* overflow: auto; */
    /* scroll-snap-type: y mandatory; */
}
.wrapper > .slide {
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.wrapper .slide:nth-child(even) {
    background-color: var(--accent-color);
}

.wrapper > .slide .title {
    /* text-shadow: 3px 3px 0px #5fdbd3; */
}

.wrapper > .slide:nth-child(even) .title {
    color: #fff;
}

.wrapper > .slide:not(#banner) .title {
    font-size: 2rem;
    line-height: 1;
}

.vector {
    /* width: 80%;
    max-width: 400px; */
    height: 150px;
    margin: 0 auto;
    display: block;
}

.wrapper > .slide:not(#banner) .vector {
    /* position: absolute;
    bottom: 0;
    left: 10px;
    height: 120px; */
}

a {
    color: var(--box-color);
}

.mainContainer {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

/* Banner */
.bdaybanner {
    background-color: transparent;
    background-image: url(../../images/banner-bg.png);
    background-size: 140%;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 140px 5px 0;
}
.banner-elements {
    max-width: 190px;
    width: 80%;
    margin: 0 auto;
    display: block;
    position: relative;
}

/* Rolling animation */
  @keyframes roll {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .roll-animation {
    display: block;
    animation: roll 5s linear infinite; /* adjust speed */
    transform-origin: center center; /* ensures it spins around the middle */
  }

.banner-title {
    width: 100%;
    margin: -20px auto 0;
    display: block;
    z-index: -1;
}

@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.08);
      opacity: 0.9;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  .pulse-animation {
    display: block;
    animation: pulse 4s ease-in-out infinite;
    transform-origin: center center;
  }

.bdaydetails {
    background-image: url(../../images/background.jpg);
    background-position: center;
    background-size: 120%;
    color: #fff;
    margin-top: -100px;
    z-index: -1;
    position: relative;
    padding: 150px 0 150px;
    text-align: center;
}
.bdaydetails > div.bday-message {
    text-align: left;
}
.bdaydetails > div {
    background-color: #004797;
    padding: 10px;
    margin: 10px 0;
    border: 1px dashed white;
    width: 90%;
    margin: 8px auto;
}

.map-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-submit {
    border: none;
    outline: 0;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #fdca28;
    color: #000;
    font-weight: 900;
    margin: 10px auto;
    width: 100%;
    max-width: 240px;
}





.btn-prev {
    position: absolute;
    top:0;
    margin: 0;
    padding: 5px 20px;
    background-color: var(--box-color);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 999;
    font-size: 1.8rem;
    -webkit-animation: linear;
    -webkit-animation-name: fall;
    -webkit-animation-duration: .5s;
    display: none !important;
}
.btn-next {
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 5px 20px;
    background-color: var(--box-color);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    z-index: 999;
    font-size: 1.8rem;
    -webkit-animation: linear;
    -webkit-animation-name: rise;
    -webkit-animation-duration: .5s;
    display: none !important;
}

@-webkit-keyframes fall {
    0% {
      top: -60px;
    }
    50% {
        top: -30%;
    }
    75% {
        top: -10%;
      }
    100% {
        top: 0px;    
    }
  }

  @-webkit-keyframes rise {
    0% {
      bottom: -60px;
    }
    50% {
        bottom: -30%;
    }
    75% {
        bottom: -10%;
      }
    100% {
        bottom: 0px;    
    }
  }




@media screen and (min-width: 991px) {
    .btn-prev,
    .btn-next {
        display: block !important;
    }
}
